body {
  font-family: "Segoe UI", Roboto, sans-serif;
  margin: 0;
  background-color: #f4f4f9;
  color: #333;
  line-height: 1.6;
}

header {
  background: #2b2d42;
  color: #fff;
  text-align: center;
  padding: 2rem 1rem;
}

header h1 {
  margin-bottom: 0.3rem;
}

section {
  background: #fff;
  margin: 1rem auto;
  padding: 1.5rem;
  max-width: 65%;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

h2 {
  color: #2b2d42;
  border-bottom: 2px solid #8d99ae;
  padding-bottom: 0.3rem;
}

.job {
  margin-bottom: 1rem;
}

.job h3 {
  margin: 0;
}

.job .date {
  font-size: 0.9rem;
  color: #555;
}

footer {
  text-align: center;
  padding: 1rem;
  background: #2b2d42;
  color: white;
}

footer a {
  color: #edf2f4;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* --- Navegación --- 
.navbar {
  margin-top: 1rem;
  background-color: #8d99ae;
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  border-radius: 8px;
}*/

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #edf2f4;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-left: 20px;
    margin-right: 20px; /* largeur inter section */
}

.navbar ul {
    display: flex;           /* Hace que los li estén en línea */
    list-style: none;        /* Quita los bullets */
    padding: 0;              /* Quita padding por defecto */
    margin: 0;               /* Quita margen por defecto */
}

.navbar li {
    margin-right: 20px;      /* Espacio entre los items */
    position: relative;
}

.navbar li:not(:last-child)::after {
    position: absolute;
    right: -10px;            /* Ajusta según el espacio que quieras */
    color: #ffffff;             /* Color de la línea */
}