<!DOCTYPE html>
<html lang="{{ page.lang | default: 'es' }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="icon" href="/css/sello_GA.png" type="image/png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <h1>Guillermo Aguilera</h1>
        {% if page.lang == "es" %}
            <p>Ingeniero Matemático | Master en Matemáticas e Informática</p>
        {% else %}
            <p>Mathematical Engineer | Master’s in Mathematics and Computer Science</p>        
        {% endif %}
        
        <nav class="navbar">
            {% if page.lang == "es" %}
                <a href="{{ '/es/' | relative_url }}">Inicio</a> |
                <a href="{{ '/es/experiencia' | relative_url }}">Experiencia</a>|
                <a href="{{ '/es/estudios' | relative_url }}">Estudios</a>|
                <a href="{{ '/es/referencias' | relative_url }}">Referencias</a>|
                <a href="{{ '/es/habilidades' | relative_url }}">Habilidades</a>
            {% else %}
                <a href="{{ '/en/' | relative_url }}">Home</a> |
                <a href="{{ '/en/experience' | relative_url }}">Experience</a>|
                <a href="{{ '/en/education' | relative_url }}">Education</a>|
                <a href="{{ '/en/references' | relative_url }}">References</a>|
                <a href="{{ '/en/skills' | relative_url }}">Skills</a>
            {% endif %}
        </nav>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>
            {% if page.translations %}
                {% for lang in page.translations %}
                    <a href="{{ lang[1] }}">
                    {{ lang[0] | upcase }}
                    </a>{% unless forloop.last %} | {% endunless %}
                {% endfor %}
                |
            {% endif %}
            📧 <a href="mailto:guillermoaguilera.71@hotmail.com">guillermoaguilera.71@hotmail.com</a> |
            🌐 <a href="https://github.com/guillo667">GitHub</a> |
            💼 <a href="https://www.linkedin.com/in/guillo667">LinkedIn</a> |
            📍 Quito, Ecuador | 📱 +593 95 952 0546 |
            {% if page.lang == "es" %}
                <a href="/downloads/01_cv_es_Guillermo_Aguilera.pdf" download>📄 Descargar CV</a>
            {% else %}
                <a href="/downloads/01_cv_en_Guillermo_Aguilera.pdf" download>📄 Download CV</a>
            {% endif %}
        </p>
    </footer>
</body>

</html>